/** @implements {Lib.AppClient.Methods} */
class AppClient {
  constructor() {
    this._baseUrl = 'https://script.google.com'
    /** @type {Lib.Types.AppCall.Response.Status.Dictionary} */
    this._statuses = {
      SUCCESS: 'success',
      ERROR: 'error',
    }
  }

  /**
   * @param {string} url
   * @param {Lib.Types.Json} payload
   * @param {boolean} [withAuth]
   * @returns {Lib.Types.AppCall.Response}
   */
  _call(url, payload, withAuth = false) {
    /** @type {GoogleAppsScript.URL_Fetch.URLFetchRequestOptions} */
    const options = {
      method: 'post',
      contentType: 'application/json',
      payload: JSON.stringify(payload),
      muteHttpExceptions: true,
    }
    if (withAuth) {
      const token = ScriptApp.getOAuthToken()
      if (token === '') throw new Error('Unexpected empty OAuth token')
      options.headers = {
        Authorization: `Bearer ${token}`,
      }
    }
    const { SUCCESS, ERROR } = this._statuses
    const response = UrlFetchApp.fetch(url, options)
    const code = response.getResponseCode()
    const rawBody = response.getContentText('utf-8')
    if (code !== 200) return { status: ERROR, reason: rawBody }
    try {
      const body = JSON.parse(rawBody)
      return { status: SUCCESS, body }
    } catch (error) {
      const reason = `ParseError${error instanceof Error ? `: ${error.message}` : ''}`
      return { status: ERROR, reason }
    }
  }

  /**
   * @param {string} id
   * @param {string} [org]
   * @returns {string}
   */
  _parseUrl(id, org = '') {
    if (id === '') throw new Error('Unexpected empty id')
    const requestPath = `${org === '' ? 'macros' : `a/macros/${org}`}/s/${id}/exec`
    const url = `${this._baseUrl}/${requestPath}`
    return url
  }

  /** @param {string} key  */
  getAppId(key) {
    const id = PropertiesService.getScriptProperties().getProperty(key)
    if (id === null) throw new Error(`Unexpected not found key ${key}`)
    return id
  }

  /** @param {Lib.Types.AppCall.Request} params */
  call({ id, payload, org }) {
    return this._call(this._parseUrl(id, org), payload)
  }

  /** @param {Lib.Types.AppCall.Request} params */
  callWithAuth({ id, payload, org }) {
    return this._call(this._parseUrl(id, org), payload, true)
  }
}
