# App: %APP_NAME%

Este repositorio contiene la aplicacion llamada %APP_NAME%.

## Arquitectura

El proyecto sigue una arquitectura **Vanilla JSDoc**, utilizando JavaScript puro sin un paso de compilación. Para más detalles, consulta el documento de [Arquitectura](./ARCHITECTURE.md).

## Requerimientos Previos

Este artefacto, asume la instalacion previa de algunos elementos. Para más detalles, consulta el documento de [Requerimientos](./REQUIREMENTS.md).

## Pasos de Instalación del Proyecto

1. **Clona el repositorio:**

   ```bash
   git clone <URL_DEL_REPOSITORIO> %APP_NAME%
   cd %APP_NAME%
   ```

2. **Instala las dependencias:**

   ```bash
   npm install
   ```

## Desarrollo y Despliegue

- Para una guía detallada de la estructura y forma de desarrollar y mantener las funcionalidades, consulta la [Guía de Desarrollo](./DEVELOPMENT.md).
- Para una guía detallada del proceso de despligue de la aplicación, consulta la [Guía de Despliegue](./DEPLOYMENT.md).

## Contribuciones

Por favor, lee nuestras [Directrices de Contribución](./CONTRIBUTING.md) para empezar.
