{
  "JSDoc snippet for HTML script tags": {
    "scope": "html,javascript",
    "prefix": "gas-html-script-google",
    "body": [
      "/**",
      " * @typedef {{",
      " * }} App.Functions",
      " * @typedef {(result: any, userObject?: object) => void} GoogleScript.Run.SuccessHandler",
      " * @typedef {(error: Error, userObject?: object) => void} GoogleScript.Run.FailureHandler",
      " * @typedef {{",
      " *  withSuccessHandler(handler: GoogleScript.Run.SuccessHandler): App.Functions & GoogleScript.Run",
      " *  withFailureHandler(handler: GoogleScript.Run.FailureHandler): App.Functions & GoogleScript.Run",
      " *  withUserObject(userObject: object): App.Functions & GoogleScript.Run",
      " * }} GoogleScript.Run",
      " * @typedef {{",
      " *  close(): void",
      " *  setHeight(height: number): void",
      " *  setWidth(width: number): void",
      " * }} GoogleScript.Host",
      " * @typedef {{script: {run: App.Functions & GoogleScript.Run, host: GoogleScript.Host}}} GoogleScript",
      " */",
      "$0",
    ],
    "description": "Insert JSDoc definition of google global variable in HTML <script> tags",
  },
}
